# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Node modules (frontend & backend)
**/node_modules/

# IntelliJ/WebStorm/PhpStorm IDE settings
**/.idea/

# Logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*

# Compiled output (optional)
dist/
build/
out/

