<nav class="navbar">
    <ul>
        <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
        <li><a routerLink="/data-generation" routerLinkActive="active">Data Generation</a></li>
        <li><a routerLink="/data-processing" routerLinkActive="active">Data Processing</a></li>
        <li><a routerLink="/data-upload" routerLinkActive="active">Data Upload</a></li>
        <li><a routerLink="/student-management" routerLinkActive="active">Student Management</a></li>
    </ul>
</nav>
