
<div class="container">
    <div class="card">
        <div class="content">
            <h2 class="title">Data Generation</h2>
            <form (ngSubmit)="generateData()" #genForm="ngForm">
            <input
                    type="number"
                    id="recordCount"
                    name="recordCount"
                    [(ngModel)]="recordCount"
                    required
                    min="0"
            />
            <button type="submit" [disabled]="genForm.invalid || isLoading">
                Generate Excel
            </button>
            </form>
            <div *ngIf="isLoading">Generating file, please wait...</div>
            <div *ngIf="message">{{ message }}</div>
        </div>
    </div>
</div>